.page {
	margin: 0 auto;
	font-family: "Inter", Arial, sans-serif;
	background: #000;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

.page__container {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
}

.header {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 41px;
	border-bottom: 1px solid #545454;
}

.header__logo {
	background-image: url(./images/logo.png);
	max-width: 142px;
	min-height: 33px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: opacity 0.2s ease-in;
	cursor: pointer;
	display: flex;
}

.header__logo:hover {
	opacity: 0.9;
}

.profile {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.profile__avatar {
	max-width: 120px;
	border-radius: 50%;
}

.profile__wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.profile__info {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.profile__name {
	display: flex;
	align-items: center;
}

.profile__title {
	margin: 0;
	font-weight: 500;
	font-size: 42px;
	line-height: 1.14;
	color: #fff;
}

.button {
	display: block;
	transition: opacity 0.2s ease-in;
}

.button:hover {
	opacity: 0.6;
}

.button-edit {
	background-image: url(./images/edit-btn.svg);
	width: 24px;
	height: 24px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 18px;
	margin-top: 6px;
}

.profile__subtitle {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	color: #fff;
	margin-top: 10px;
}

.button-add {
	background-image: url(./images/add-btn.svg);
	width: 150px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cards {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 51px;
}
.cards__items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
	grid-column-gap: 17px;
	grid-row-gap: 20px;
}

.cards__item {
	max-width: 282px;
}

.cards__img {
	display: block;
	width: 100%;
	height: 282px;
	object-fit: cover;
	object-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.cards__desc {
	background-color: #fff;
	padding: 25px 15px 31px 21px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cards__title {
	margin: 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 1.2;
	color: #000;
}

.button-like {
	background-image: url(./images/like.svg);
	width: 22px;
	height: 19px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.like {
}

.footer {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 66px;
}

.footer__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.22;
	color: #545454;
	display: flex;
	justify-content: flex-start;
}
