.cards__items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 17px;
	grid-row-gap: 20px;
}

@media screen and (max-width: 767px) {
	.cards__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 500px) {
	.cards__items {
		grid-template-columns: repeat(1, 1fr);
	}
}
